/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
} */

/* a {
  color: #00B7FF;
} */

li {
  border-style: none solid none none;
  border-color: rgb(53, 207, 189);
}

.botao {
	margin: 5px;
}

.invisivel {
	display: none;
}

.radio-box {
	margin: 10px;
}

#img-logo {
	max-width: 120px;
	max-height: 50px;
}

.info {
    font-size: 20px;
    color:rgb(0, 128, 90);
    display: none;
}

#spinner{
	display: none;
}

table {
	margin: 15px;
}

td {
	display: table-cell;
}
  
/* td, th {
	border: 1px solid #dddddd;
} */

tfoot {
	max-height: 100px;
}

.footer {
	display: block;
	border: none;
}

#input-pagina, #input-qntPorPag {
	margin: 5px;
	font-size: large;
	max-width: 50px;
	border: none;
	-moz-appearance: textfield;
	-webkit-appearance: none;
}

.filtro-pesquisa {
	max-width: 100%;
}

#acoes-filiados {
	margin-bottom: 0px;
	max-height: 75px;
}

#tabela-filiados {
	margin-top: 0px;
}

#div-botoes-filiados {
	max-width: 100%;
}

select {
	display: block;
}

.center-screen {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 100vh;
}

.navbar {
  margin-bottom: 0;
}

body {
  background: rgb(202, 202, 202);
  color: #ffffff;
  font-family: 'Merriweather', sans-serif;
}

h1,
h2 {
  font-weight: bold;
  padding: 5px;
}

p {
  font-size: 16px;
  color: #ffffff;
}

.jumbotron {
  background: #0048CD;
  color: white;
  text-align: center;
}

.jumbotron p {
  color: white;
  font-size: 26px;
}

.btn-primary {
  color: #fff;
  /* text-color: #000000; */
  border-color: white;
  margin-bottom: 5px;
}

img,
video,
audio {
  margin-top: 20px;
  max-width: 80%;
}

#img-carrinho {
  /* margin-top: 5px; */
  max-width: 12%;
	max-height: 12%;
}

.alinhar-vertical {
  text-align: center;
  vertical-align: middle;
  line-height: 118px;       
}

/* div.caption: {
  float: left;
  clear: both;
} */

